body {
  margin: 0;
  text-align: center;
  background: #cceeff;
  font-family: sans-serif;
}

canvas {
  background: linear-gradient(#87ceeb, #ffffff);
  border: 2px solid #333;
  max-width: 100%;
}
